 /* Estilos personalizados --> */
.sidebar {
    width: 16rem; /* Largura do sidebar */
    height: 100vh; /* Altura total da tela */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    overflow-y: auto;
    transition: width 0.3s ease, transform 0.3s ease;
    background-color: #ffffff; /* Cor de fundo do sidebar */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Sombra à direita */
}

/* Espaçamento para o conteúdo abaixo do header */
.main-content {
    margin-top: 4rem; /* Altura do header */
}

.sidebar.collapsed {
    width: 4rem; /* Largura reduzida para exibir apenas ícones */
}

.submenu {
    padding-left: 35px; /* Padding para submenus */
}

.sidebar.collapsed .sidebar-text {
    display: none; /* Oculta o texto quando o sidebar está recolhido */
}

.main-content {
    margin-left: 16rem; /* Largura do sidebar */
    transition: margin-left 0.3s ease;
}

.main-content.collapsed {
    margin-left: 4rem; /* Ajusta o margin-left quando o sidebar está recolhido */
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 16rem; /* Largura do sidebar */
    z-index: 30;
    height: 4rem; /* Altura do header */
    background-color: #ffffff; /* Cor de fundo do header */
    border-bottom: 1px solid #e5e7eb; /* Borda inferior */
    padding: 0 1rem; /* Espaçamento interno */
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: left 0.3s ease;
}

.header.collapsed {
    left: 4rem; /* Ajusta o left quando o sidebar está recolhido */
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%); /* Esconde o sidebar */
    }

    .main-content {
        margin-left: 0; /* Remove o margin-left */
    }

    .header {
        left: 0; /* Header ocupa toda a largura */
    }

    /* Classe para abrir o sidebar */
    .sidebar-open .sidebar {
        transform: translateX(0); /* Mostra o sidebar */
    }

    .sidebar-open .main-content {
        margin-left: 16rem; /* Desloca o conteúdo */
    }
}